@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

.text-main {
  color: #48A74C !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--bs-dropdown-link-active-color);
  text-decoration: none;
  background-color: #48A74C;
}

/* Scroll */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #cdf7cf;
}

::-webkit-scrollbar-thumb {
  background-color: #48A74C;
  border-radius: 5px;
  border: 0 solid #cdf7cf;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #48A74C;
}

header.header {
  padding-block: 0.5625rem;
  position: fixed;
  top: 0;
  inset-inline: 0;
}
header.header .icon-sidebar {
  display: block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
header.header .icon-sidebar::after {
  content: "\f0c9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  inset-block-end: 0;
  inset-inline-end: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #F0F0F0;
  border-radius: 50%;
  color: #707070;
  font-size: 0.75rem;
  display: grid;
  place-items: center;
}
@media (min-width: 768px) {
  header.header .icon-sidebar {
    display: none;
  }
}
header.header .navbar-brand {
  font-weight: 700;
  font-size: 2.1875rem;
}
header.header .form-search {
  width: 450px;
  position: relative;
  display: none;
}
@media (min-width: 992px) {
  header.header .form-search {
    width: 150px;
    display: block;
  }
}
@media (min-width: 1200px) {
  header.header .form-search {
    width: 250px;
    display: block;
  }
}
@media (min-width: 1400px) {
  header.header .form-search {
    width: 450px;
    display: block;
  }
}
header.header .form-search input.form-control {
  /* width: 100%; */
  padding-block: 1.125rem;
  padding-inline-start: 70px;
}
header.header .form-search::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  /* content: "\f007"; */
  position: absolute;
  width: 47px;
  height: 47px;
  background-color: #48A74C;
  color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-start: 10px;
}
header.header ul.nav {
  display: none;
}
@media (min-width: 768px) {
  header.header ul.nav {
    display: flex;
  }
}
header.header ul.nav > li.nav-item a {
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0.5rem;
}
@media (min-width: 992px) {
  header.header ul.nav > li.nav-item a {
    font-size: 1.125rem;
    padding: 1rem;
  }
}
header.header ul.nav .dropdown-menu a.dropdown-item {
  font-weight: 500;
  font-size: 1rem;
}
header.header ul.nav .dropdown-menu li.user-profile a.dropdown-item:active {
  background-color: transparent;
}
header.header ul.nav .dropdown-menu li.user-profile .text-dark {
  padding-inline-end: 20px;
  position: relative;
}
header.header ul.nav .dropdown-menu li.user-profile .text-dark h6 {
  font-size: 1rem;
  font-weight: 500;
}
header.header ul.nav .dropdown-menu li.user-profile .text-dark small {
  font-weight: 400;
  font-size: 0.9375rem;
}
header.header ul.nav .dropdown-menu li.user-profile .text-dark::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 0;
  color: #707070;
  font-size: 0.75rem;
}

.offcanvas .user-profile {
  border-bottom: 1px solid #DDDDDD;
  padding-block: 20px;
  padding-bottom: 30px;
}
.offcanvas .user-profile .text-dark {
  padding-inline-end: 20px;
  position: relative;
  width: 100%;
}
.offcanvas .user-profile .text-dark h6 {
  font-size: 1rem;
  font-weight: 500;
}
.offcanvas .user-profile .text-dark small {
  font-weight: 400;
  font-size: 0.9375rem;
}
.offcanvas .user-profile .text-dark::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 10px;
  color: #707070;
  font-size: 0.75rem;
}
.offcanvas .list-group {
  list-style-type: none;
  padding-top: 20px;
}
.offcanvas .list-group .list-group-item {
  border: none;
  padding: 0;
}
.offcanvas .list-group .list-group-item hr {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 15px;
}
.offcanvas .list-group .list-group-item a {
  text-decoration: none;
  color: #5B5B5B;
  font-weight: 500;
  font-size: 14px;
  display: block;
  padding-inline: 16px;
  padding-block: 15px;
}
.offcanvas .list-group .list-group-item a .badges {
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
  top: -7px;
  inset-inline-end: -7px;
}
.offcanvas .list-group .list-group-item a i {
  color: #7D7D7D;
  font-size: 24px;
  margin-inline-end: 0.625rem;
}
.offcanvas .list-group .list-group-item a.active {
  background-color: #48A74C;
  color: #fff;
}
.offcanvas .list-group .list-group-item a.active i {
  color: #fff;
}
.offcanvas .list-group .list-group-item a.title {
  font-size: 16px;
  padding-block: 10px;
}
.offcanvas .list-group .list-group-item a.text-danger {
  font-size: 17px;
}

.sidebar-heading {
  position: fixed;
  top: 105px;
  height: calc(100svh - 105px);
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  padding: 20px;
  display: none;
}
@media (min-width: 1200px) {
  .sidebar-heading {
    width: 340px;
    display: block;
  }
}
@media (min-width: 1400px) {
  .sidebar-heading {
    width: 440px;
    display: block;
  }
}
.sidebar-heading .head-sidebar {
  border-bottom: 1px solid #DDDDDD;
  padding-block: 10px;
  margin-bottom: 10px;
}
.sidebar-heading .head-sidebar h5 {
  font-size: 25px;
  font-weight: 500;
}
.sidebar-heading .head-sidebar .icon-action {
  display: flex;
  gap: 10px;
}
.sidebar-heading .head-sidebar .icon-action .edit-action {
  display: none;
  gap: 10px;
}
.sidebar-heading .head-sidebar .icon-action i {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sidebar-heading .head-sidebar .icon-action i:hover {
  animation-name: fa-shake;
  animation: 0.3s 1 linear;
}
.sidebar-heading ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar-heading ul li a {
  display: block;
  text-decoration: none;
  background-color: #F7F7F7;
  color: #404040;
  padding: 1.25rem;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
}
.sidebar-heading ul li a[data-bs-toggle=collapse]::after {
  content: "\f077";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.sidebar-heading ul li a.collapsed::after {
  content: "\f078";
  /*  transform: scale(-1); */
}
.sidebar-heading ul li ul {
  padding-inline-start: 20px;
  padding-top: 10px;
}
.sidebar-heading ul li ul li a {
  background-color: transparent;
  font-size: 1.375rem;
  padding: 0.625rem;
}

.card-job {
  background-color: #fff;
  border: 1px solid #F0F0F0;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}
.card-job:hover {
  background-color: #F3FDF3;
  border-color: #48A74C;
}
.card-job .card-job-head {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.card-job .card-job-head .heading {
  display: flex;
}
.card-job .card-job-head .heading h5 {
  font-size: 1.5625rem;
  font-weight: 500;
  color: #161616;
  margin-bottom: 10px;
}
.card-job .card-job-head .heading p {
  font-size: 1.0625rem;
  font-weight: 700;
  color: #48A74C;
  margin-bottom: 0;
}
.card-job .card-job-head .heading .image {
  width: 70px;
  height: 70px;
  margin-inline-end: 10px;
}
.card-job .card-job-head .heading .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-job .card-job-head .favorite-icon {
  width: 3.4375rem;
  height: 3.4375rem;
  background-color: #fff;
  border: 1px solid #C4C3C3;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.card-job .card-job-head .favorite-icon i {
  color: #C4C3C3;
  transition: all 0.3s ease-in-out;
  font-size: 1.375rem;
}
.card-job .card-job-head .favorite-icon:hover {
  border-color: #E24A4A;
}
.card-job .card-job-head .favorite-icon:hover i {
  color: #E24A4A;
}
.card-job .card-job-head .favorite-icon.active {
  border-color: #E24A4A;
}
.card-job .card-job-head .favorite-icon.active i {
  color: #E24A4A;
}
.card-job .info, .card-job .group-badge {
  padding-block: 0.625rem;
  padding-inline: 1.5625rem;
  font-size: 1.0625rem;
  color: #707070;
  display: flex;
  gap: 20px;
}
.card-job .info i, .card-job .group-badge i {
  margin-inline-end: 5px;
}
.card-job .info .badge, .card-job .group-badge .badge {
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
}
.card-job .footer-card-job {
  border: 1px solid #F0F0F0;
  border-end-start-radius: 0.375rem;
  border-end-end-radius: 0.375rem;
  padding: 1.25rem;
}
.card-job .footer-card-job p {
  margin-bottom: 0;
  font-size: 1.0625rem;
  color: #707070;
}

.wrapper-page {
  background-color: #F5F5F5;
  padding-bottom: 15px;
  padding-top: 120px;
}
.wrapper-page .page-content {
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .wrapper-page .page-content {
    padding-inline-start: 340px;
  }
}
@media (min-width: 1400px) {
  .wrapper-page .page-content {
    padding-inline-start: 440px;
  }
}
.wrapper-page .page-content .news-component {
  background-color: #48A74C;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #E9E9E9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-page .page-link {
  background-color: transparent;
  color: #707070;
  border-color: #C4C3C3;
}
.wrapper-page .page-link.active {
  background-color: #48A74C;
  border-color: #48A74C;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
