.wrapper-page {
    background-color: #F5F5F5;
    padding-bottom: 15px;
    padding-top: 120px;
    .page-content {
        transition: all 0.3s ease-in-out;

        @media (min-width:1200px) {
            padding-inline-start: 340px;
        }
        @media (min-width:1400px) {
            padding-inline-start: 440px;
        }
        .sorting-component {

        }
        .news-component {
            background-color: $main-color;
            color: #fff;
            padding: 20px;
            border-radius: 6px;
            border: 1px solid #E9E9E9;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .page-link {
            background-color: transparent ;
            color: #707070;
            border-color: #C4C3C3;
            &.active {
                background-color: $main-color;
                border-color: $main-color;
                color: #fff;
            }
        }
    
}